#circularcursor {
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.7);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    transition: border-color 0.3s; 
}

#circularcursor:hover {
    border-color: rgba(0, 0, 0, 1); 
}

.canvas-btn {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #ffffff; 
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s; 
}

.canvas-btn:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}

.btn-width {
    width: 80px;
    padding: 10px;
    margin: 8px 0;
    background-color: #808080; 
    color: #ffffff; 
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s; 
    cursor: pointer;
}

.btn-width:hover {
    background-color: #909090;
    transform: translateY(-2px); 
}

.btn-width:active {
    transform: translateY(1px);
}

input[type="color"] {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    margin: 5px 0;
    width: 70px;
    background-color: #ccc;
}

input[type="color"]:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mouse-state {
    cursor: none;
}